@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* BASE */

body {
  line-height: 1.7em;
  color: #7f8c8d;
  font-size: 13px;
  font-family: 'Raleway', "文泉驛正黑", "WenQuanYi Zen Hei", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

h1, h2, h3, h4, h5, h6, label {
  color: #34495e;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/* MENU */

.home-menu {
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  transition: all 1s ease;
  background: rgba(31, 43, 61, 0);
  padding: 46px 46px 0 46px;
}

.pure-menu.pure-menu-fixed {
  border-bottom: none;
  z-index: 4;
}

.home-menu .pure-menu-heading {
  color: white;
  font-weight: 100;
  font-size: 18px;
  padding: 0;
}

.home-menu .pure-menu-heading img {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 4px 0;
}

.home-menu .pure-menu-selected a {
  color: white;
}

.home-menu a {
  color: #FFF;
}

.home-menu li a:hover, .home-menu li a:focus {
  background: none;
  border: none;
  color: #AECFE5;
}

.home-menu.active {
  background: rgba(31, 43, 61, 0.8);
  padding-top: 20px;
}
.home-menu #mydropdown{
  font-size: 15px;
  margin: 0 0 0 15px;
}

/* SPLASH */

.splash-container {
  background: url('../img/bg.jpg');
  background-size: cover;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 85vh;
}

.splash {
  text-align: center;
  margin: 18vh auto;
}

.splash-head {
  color: white;
  margin: 3% 0 0 0;
  font-weight: 400;
  transition: all 0.8s ease;
}

.splash-subhead {
  color: white;
  opacity: 0.8;
  margin: 2% 0 0 0;
}


/* CONTENT */

.content-wrapper {
  width: 100%;
  min-height: 12%;
  background: white;
}

.content {
  padding: 1em 1em 3em;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 2.5em 1em;
  position: relative;
  display: inline-block;
  color: #222935;
  font-size: 2em;
}

.content-head:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 20px auto 0;
  width: 50%;
  height: 6px;
  background: #e4ff67;
}

.content-subhead {
  color: #1f2b3d;
  font-size: 25px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 5px 0;
}

.content-subhead i {
  margin-right: 7px;
}


/* COLORS */

.main-color-1 {
  color: #17c4bb
}

.main-color-2 {
  color: #3c4659
}

.main-color-3 {
  color: #8b7ff8
}

.main-bg-color-1 {
  background-color: #ff3838
}

.main-bg-color-2 {
  background-color: #17c4bb
}

.main-bg-color-3 {
  background-color: #e4ff67
}

.main-bg-color-4 {
  background-color: #8176f8
}

.main-bg-color-5 {
  background-color: #ececec
}

.main-bg-color-6 {
  background-color: #3c4659
}


/* CUSTOM */

.logo-small {
  width: 46px;
}

.logo-med {
  width: 110px;
  max-width: 100%;
  max-height: 100%;
}

.logo-large {
  width: 405px;
  max-width: 100%;
  max-height: 100%;
  transition: all 0.8s ease;
}

.pure-menu-list {
  font-size: 16px;
  font-weight: 400;
}

.splash-sample img {
  margin: 6% 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.content-subhead span {
  font-size: 1.7em;
}

.pure-g [class*=pure-u] {
  font-family: 'Raleway', "文泉驛正黑", "WenQuanYi Zen Hei", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

.feature {
  text-align: left;
  padding: 25px;
}

.feature span {
  font-size: 3em;
  float: left;
  margin: 0 20px 0 0;
}

.feature p {
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  color: #1f2b3d;
}

.feature .column {
  width: 75%;
  float: left;
}

.getstart {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  -webkit-padding-start: 0px;
}

.getstart div {
  padding: 10px;
  overflow: hidden;
  display: inline-block;
  font-size: 16px;
  color: #222935;
  line-height: 24px;
  height: 200px;
  width: calc( 25% - 10px )
}

.getstart span {
  display: block;
  font-size: 5em;
  text-align: center;
  color: #222935;
  ;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 10px;
  transition: all 0.8s ease;
}

.tips, .release-info {
  width: 50%;
  margin: 30px auto 0;
  border-radius: 10px;
  font-size: 15px;
}
.release-info {
  width: 50%;
  margin: 10px auto;
  border-radius: 10px;
  font-size: 12px;
}

.circle {
  width: 255px;
  height: 255px;
  border-radius: 50%;
  padding: 50px 0;
  display: inline-block;
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
}

.circle:hover {
  background: #8176f8;
}

footer {
  text-align: center;
  font-size: 12px;
  font-family: 'arial', sans-serif;
  color: #222935;
  padding: 20px 0;
}

/* LAYOUT STYLES */

.is-center {
  text-align: center;
}

.w100 {
  width: 100%
}

.divide {
  border-bottom: 1px solid #222935
}


/* DESKTOP DEVICE */

@media (min-width: 78em) {
  .splash-head {
    font-size: 300%;
  }
  .pure-g {
    margin: 0 auto;
  }
}

@media (min-width: 105em) {
  .pure-g {
    width: 75%
  }
}



/* NOTEBOOK DEVICE */

@media screen and (max-width: 80em) {
  .logo-large {
    width: 300px;
    max-width: 100%;
    max-height: 100%;
  }
  .splash {
    margin: 12vh auto;
  }
  .feature {
    padding: 25px 0;
  }
}

/* TABLET DEVICE */

@media screen and (max-width: 67.5em) {
  .feature {
    width: 50%
  }
}

@media screen and (max-width: 64em) {
  .logo-large {
    width: 300px;
    max-width: 100%;
    max-height: 100%;
  }
  .splash {
    margin: 25vh auto;
  }
  .splash-head {
    font-size: 2.5em;
  }
  .getstart div {
    width: calc(50% - 10px);
  }
  .logo-med {
    width: 90px;
  }
  .circle {
    width: 180px;
    height: 180px;
    padding: 25px 0;
    display: inline-block;
    margin: 0 20px 20px 20px;
  }
}

@media (min-width: 48em) {
  body {
    font-size: 16px;
  }
  .home-menu {
    text-align: left;
  }
  .home-menu ul {
    float: right;
  }
  .splash {
    width: 65%;
    height: 50%;
  }
  .splash-head {
    font-size: 250%;
  }
  .l-box-lrg {
    border: none;
  }
}

/* MOBILE DEVICE */

@media screen and (max-width: 48em) {
  .splash-sample {
    display: none;
  }
  .splash {
    margin: 17vh auto 0;
  }
  .getstart span {
    font-size: 4em;
  }
  .home-menu {
    padding: 15px 0;
  }
  .pure-menu-item a {
    display: none;
  }
  .getstart div{
    width: 100%;
    height: 155px
  }

}

@media screen and (max-width: 40em) {
  .feature {
    width: 100%
  }
}

@media screen and (max-width: 35.5em) {
  .splash-sample {
    display: none;
  }
  .splash {
    margin: 25vh auto;
  }
  .tips{
    display: none;
  }
}



@media screen and (max-width: 24em) {
  .splash-sample {
    display: none;
  }
  .splash {
    margin: 30vh auto;
  }
  .splash-head {
    font-size: 1.8em;
  }
  .logo-large {
    width: 230px
  }
  .feature p{
    font-size: 13px;
  }
  .feature .column{
    width: 70%
  }
  .getstart span{
    font-size: 2em;
  }
}
