/**
 *      Import
 **/
@import "loading";
@import url('https://fonts.googleapis.com/css?family=Raleway');


/**
 *      media query
 **/
$info-mobile: "only screen and (max-width : 768px)";
$info-tablet: "only screen and (min-width: 769px)";
$info-tablet-only: "only screen and (min-width: 769px) and (max-width: 999px)";
$info-touch: "only screen and (max-width: 999px)";
$info-desktop: "only screen and (min-width: 1000px)";
$info-desktop-only: "only screen and (min-width: 1000px) and (max-width: 1191px)";
$info-widescreen: "only screen and (min-width: 1192px)";
$info-fullhd: "only screen and (min-width: 1344px)";

/**
  *     General
  */
$container-max-width: 960px;


/**
  *     Sidebar
  **/
// layout
$sidebar-width: 50px;
// color
$sidebar-bg-color: #1f2b3d;
$sidebar-divider-color: #2b3b55;
$sidebar-icon-color: #fff;
$sidebar-entry-hover-bg-color: #26344b;
$sidebar-entry-active-bg-color: #17C4BB;

/**
  *     Search View
  **/
// layout
$search-result-thumbnail-width: 100px;

// color
$search-header-bg-color: #34495e;
$search-result-bg-color: #f8f8ff;
$search-result-hover-bg-color: #eef;
$search-result-grey-color: #888;

$non-subscribe-color: #aaa;
$non-subscribe-hover-color: #558;
$subscribed-color: #a00;
$subscribed-hover-color: #d55;

/**
  *     Read View
  */
// layout
$chapter-selector-width: 250px;


/* ---- Utility ----*/

/* ---- Overall area ----*/
// .tile.is-ancestor.content {
//     display: flex;
// }

body, html, .whole-view {
    font-family: Arial,"文泉驛正黑","WenQuanYi Zen Hei","儷黑 Pro","LiHei Pro","微軟正黑體","Microsoft JhengHei",sans-serif;
    @media #{$info-mobile} {
        height: 100%;
    }
}

body {
    @media #{$info-mobile} {
        // overflow: hidden;
    }
}

.whole-view {
    @media #{$info-mobile} {
        display: flex;
        flex-direction: column;
    }
}

#main-view {
    @media #{$info-mobile} {
        display: flex;
        margin-top: $sidebar-width;
        // flex: 1 1 auto;
        // position: relative;
        // overflow-y: auto;
    }

    @media #{$info-tablet} {
        min-height: 100vh;
        flex-shrink: 0;
        flex-basis: calc(100% - #{$sidebar-width});
        margin-left: $sidebar-width;
    }
}

/* ---- Side Bar ---- */
// Tabview switcher
.sidebar {

    @media #{$info-mobile} {
        &.float-menu {
            display:flex;
            flex-direction: row;
            width: 100%;
            // flex: 0 0 auto
            position: fixed;
            z-index: 10000;
            top: 0;
            transition: top 0.2s;

            &.nav-up {
                top: -#{$sidebar-width};

            }
        }
    }

    @media #{$info-tablet} {
        width: $sidebar-width;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: $sidebar-width;
        height: 100vh;
        flex-direction: column;
        position:fixed;
    }

    background-color: $sidebar-bg-color;

    .entry {
        @media #{$info-mobile} {
            width: 33.33333%;
            flex-basis: 33.33333%;
            border-bottom: none;
            &:not(:last-child) {
                border-right: 1px solid $sidebar-divider-color;
            }
        }
        // Size
        height: $sidebar-width;
        flex-grow:0;
        flex-basis: $sidebar-width;

        // content-inside arrangement
        display: flex;
        align-items: center;
        justify-content: center;

        // color
        border-bottom: 1px solid #121b29;
        border-top: 1px solid $sidebar-divider-color;
        color: $sidebar-icon-color;
        font-size: 24px;

        // gesture
        cursor: pointer;

        //divider


        &:hover {
            background-color: $sidebar-entry-hover-bg-color;
            border-bottom: 0px;
        }

        &.active {
            background-color: $sidebar-entry-active-bg-color;
            border: 0px;
        }
    }
}

/* ---- Search Panel ---- */
#search-view {
    h2{
      font-size: 35px;
      font-family: 'Raleway', sans-serif;
      color: #4991fc;

      span{
        color: #fc5fa1;
      }
    }
    .input{
      border-radius: 5px 0 0 5px;
      height: 40px;
      box-shadow: none;
      background: #2c3e50;
      color: #fff;
      border: 0px;
      &:hover{
        box-shadow: 0px;
        border: 0px;
      }
      &:focus{
        box-shadow: 0px;
        border: 0px;
      }
      &:active{
        box-shadow: 0px;
        border: 0px;
      }
    }
    .loading-bg {
        background-color: #333;
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;

        @media #{$info-mobile} {
            height: calc(100vh - #{$sidebar-width} - 68px);
        }
    }
    .loading {
        width: 2em;
        height: 2em;
    }
}

#search-header {
    background-color: $search-header-bg-color;
    padding: 1em;

    .container {
        max-width: $container-max-width;;
    }

    .button {
        width: 100%;
        border-radius: 0 5px 5px 0;
        height: 40px;
        left: -6px;
        background: #2c3e50;
        border-left: 0px;
        color: #425c77;
        border: 0px;
        &:hover{
          box-shadow: 0px;
          border: 0px;
        }
        &:focus{
          box-shadow: 0px;
          border: 0px;
        }
        &:active{
          box-shadow: 0px;
          border: 0px;
        }
    }
}

#search-results{
    // background-color: #eee;
    max-width: $container-max-width;
    @media #{$info-tablet} {
        padding: 0.5em;
    }

}

.search-result.media {
    margin-top: 0;
    margin-bottom: 0.2em;
    padding: 1em;
    border-top: none;
    // border-bottom: 1px solid rgba(219,219,219, 0.3);
    // border-right: 1px solid rgba(219,219,219, 0.3);

    background-color: $search-result-bg-color;
    cursor: pointer;

    &:hover {
        background-color: $search-result-hover-bg-color;
    }

    .thumbnail {
        width: $search-result-thumbnail-width;
    }

    .conten p {
        margin-bottom: 0.4em;
        line-height: 1.2em;

        &.comic-update-info {
            font-size: 0.9em;
            color: $search-result-grey-color;
        }
    }

    .subscribe-btn {
        font-size: 1.4em;
        color: $non-subscribe-color;

        &:hover {
            color: $non-subscribe-hover-color;
        }
        &.subscribed {
            color: $subscribed-color;
            &:hover {
                color: $subscribed-hover-color;
            }
        }
    }
}


#favorite-view {
    padding: 2em 0;
    // max-width: 960px
    @media #{$info-mobile} {
        padding: 0.5em 0;
    }
    .columns {
        flex-wrap: wrap;
        align-content: flex-start;
        margin: auto;
        @media #{$info-tablet} {
            width: 647px;
        }
        @media #{$info-widescreen} {
            width: 970.5px;
        }

        @media #{$info-fullhd} {
            width: 1294px;
        }

    }
}

.favorite-entry.media {
    @extend .search-result.media;
    border: 2px solid #fff;
    // margin: 0 auto;
    overflow: hidden;
    .media-left {
        margin-right: 0.2em;
    }

    p {
        margin: 0;
    }
    .level {
        margin: 0.5em 0;
    }
    @media #{$info-tablet} {
        width: 323.5px;
    }

    &.hasupdate {
        background-color: #edd;
    }
    
}

#read-view {

    .middle-panel {
        @media #{$info-mobile} {
            height: calc(100vh - #{$sidebar-width});
            width: 100vw;
            top: $sidebar-width;

        }
        @media #{$info-tablet} {
            height: 100vh;
            width: $chapter-selector-width;
            position: fixed;
            overflow-y: auto;
            border-left: 1px solid #c3c3c3;
            border-right: 1px solid #c3c3c3;
        }

        position: fixed;

        #comic-header {
            @media #{$info-mobile} {
                &.float-menu {
                    position: fixed;
                    height: $sidebar-width;
                    width: 100%;
                    transition: top 0.2s;
                    top: $sidebar-width;
                    // margin-top: $sidebar-width;
                    &.nav-up {
                        top: -#{$sidebar-width};
                    }
                }
            }

            @media #{$info-tablet} {
                width: $chapter-selector-width;
                position: fixed;
                left: $sidebar-width;
                height: $sidebar-width;
                // border-right: 1px solid #e3e3e3;
            }
            background-color: #fff;
            border-bottom: 1px solid #e3e3e3;
            display: flex;

            .level-item {
                margin: 0;
            }

            .subscribe-btn {
                line-height: 1em;
                cursor: pointer;
                &.subscribed {
                    color: #a00;
                }
            }
        }

        .loading-bg {
            @media #{$info-mobile} {
                height: calc(100vh - #{$sidebar-width} - 68px);
            }
            @media #{$info-tablet} {
                width: $chapter-selector-width;
                position: fixed;
                height: calc(100vh - #{$sidebar-width});
                background-color: rgba(0,0,0,0.8);
                margin-top: $sidebar-width;
            }
            z-index: 10000;

            .loading {
                width: 4em;
                height: 4em;
                margin: auto;
                vertical-align: middle;
                position: absolute;
                top: 50%;
                left: calc(50% - 2em);
            }
        }


        #chapter-selector {
            @media #{$info-mobile} {
                height: calc(100vh - #{$sidebar-width}*2);

                overflow-y: auto;
            }
            @media #{$info-tablet} {
                width: $chapter-selector-width;
            }
            margin-top: $sidebar-width;
            padding: 0;
            background-color: #fff;
            .chapter-entry {
                border-bottom: 1px solid #e3e3e3;
                cursor: pointer;

                &:hover {
                    background-color: #ccf;
                }

                &.read {
                    background-color: #fdd;
                }

                &.active {
                    background-color: #ddf;
                }
            }
        }
    }

    #read-area {
        @media #{$info-mobile} {
            margin-top: $sidebar-width;
            min-height: calc(100vh - #{$sidebar-width} * 2);
        }
        @media #{$info-tablet} {
            margin-left: $chapter-selector-width;
            min-height: 100vh;
        }
        background-color: #000;
        color: #fff;
        padding: 0;
        .comic-page-container {
            // height: 100vh;
            // background-color: #aaa;
            margin-bottom: 1em;
            img {
                height: 100vh;
                display: block;
                margin: 0 auto;
            }
        }
    }
}
