/** Import **/
@import "loading";
@import url( 'https://fonts.googleapis.com/css?family=Raleway:100,400');
@import url( 'https://fonts.googleapis.com/css?family=Roboto+Condensed');

/** media query **/
$info-mobile: "only screen and (max-width : 768px)";
$info-tablet: "only screen and (min-width: 769px)";
$info-tablet-only: "only screen and (min-width: 769px) and (max-width: 999px)";
$info-touch: "only screen and (max-width: 999px)";
$info-desktop: "only screen and (min-width: 1000px)";
$info-desktop-only: "only screen and (min-width: 1000px) and (max-width: 1191px)";
$info-widescreen: "only screen and (min-width: 1192px)";
$info-fullhd: "only screen and (min-width: 1344px)";

/** General */
$container-max-width: 960px;

/** Title Bar */
$titlebar-height: 25px;

/** Sidebar **/
// layout
$sidebar-width: 60px;
// color
$sidebar-bg-color: #1f2b3d;
$sidebar-divider-color: #2b3b55;
$sidebar-icon-color: #fff;
$sidebar-entry-hover-bg-color: #26344b;
$sidebar-entry-active-bg-color: #1f2631;

/** Search View **/
// layout
$search-result-thumbnail-width: 100px;

// color
$search-header-bg-color: #222935;
$search-result-bg-color: #373f4e;
$search-result-hover-bg-color: #303744;
$non-subscribe-color: #aaa;
$non-subscribe-hover-color: #558;
$subscribed-color: #fc5fa1;
$subscribed-hover-color: #d55;

/** Read View */
// layout
$chapter-selector-width: 250px;

/* ---- Utility ----*/
/* ---- Overall area ----*/
// .tile.is-ancestor.content {
//     display: flex;
// }

/** LAYOUT **/
.whole-view,
body,
html {
  font-family: 'Roboto Condensed',"文泉驛正黑","WenQuanYi Zen Hei","黑體-繁","Heiti TC","微軟正黑體","Microsoft JhengHei",sans-serif;
  background: #222935;
  @media #{$info-mobile} {
    height: 100%;
  }
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

h1,
h2 {
  margin: 0;
}

//ScrollBar
::-webkit-scrollbar {
  width: 10px;
  @media #{$info-mobile} {
    display: none;
  }
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: #333c4a;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #63676d;
}

.whole-view {
  @media #{$info-mobile} {
    display: flex;
    flex-direction: column;
  }

  &.tile.is-ancestor#whole-view {
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 25px;
    @media #{$info-mobile} {
      height: calc(100vh - #{$titlebar-height});
    }
  }
}

#main-view {
  @media #{$info-mobile} {
    display: flex;
    margin-top: #{$sidebar-width};
    // flex: 1 1 auto;
    // position: relative;
    // overflow-y: auto;
  }
  @media #{$info-tablet} {
    min-height: 100vh;
    flex-shrink: 0;
    flex-basis: calc(100% - #{$sidebar-width});
    // margin-top: $titlebar-height;
    // margin-left: $sidebar-width;
  }
  height: 100vh;
  overflow-y: auto;
}

.input {
  font-family: 'Roboto Condensed',"文泉驛正黑","WenQuanYi Zen Hei","黑體-繁","Heiti TC","微軟正黑體","Microsoft JhengHei",sans-serif;
}

/** TITLEBAR **/
.titlebar.is-mac {
  padding: 0 3px;
  background-color: #3c4659;
  // position: fixed;
  z-index: 10000;
  width: 100%;
  height: $titlebar-height;
  top: 0;
  -webkit-app-region: drag;
  margin: 0;
  overflow: hidden;

  &.webkit-draggable {
    -webkit-app-region: drag;
  }

  &:after {
    content: ' ';
    display: table;
    clear: both;
  }

  #titlebar-title {
    text-align: center;
    line-height: $titlebar-height;
    color: #fff;
    padding: 0 60px 0 0;
    overflow: hidden;
  }

  .titlebar-stoplight {
    float: left;
    text-align: left;

    &:after {
      content: ' ';
      display: table;
      clear: both;
    }

    &:hover {
      svg,
      svg.fullscreen-svg,
      svg.maximize-svg {
        opacity: 1;
      }
    }
  }

  .titlebar-close,
  .titlebar-fullscreen,
  .titlebar-minimize {
    float: left;
    border-radius: 50%;
    margin: 6px 4px;
    line-height: 0;
    width: 12px;
    height: 12px;
  }

  .titlebar-close {
    border: 1px solid #e2463f;
    background-color: #ff5f57;
    margin-left: 6px;

    &:hover,
    :active {
      border-color: #ad3934;
      background-color: #bf4943;
    }

    svg {
      width: 6px;
      height: 6px;
      margin-top: 2px;
      margin-left: 2px;
      opacity: 0;
    }

  }

  .titlebar-minimize {
    border: 1px solid #e1a116;
    background-color: #ffbd2e;

    &:hover,
    :active {
      border-color: #ad7d15;
      background-color: #bf9123;
    }

    svg {
      width: 8px;
      height: 8px;
      margin-top: 1px;
      margin-left: 1px;
      opacity: 0;
    }
  }

  .titlebar-fullscreen,
  .titlebar-maximize {
    border: 1px solid #12ac28;
    background-color: #28c940;

    &:hover,
    :active {
      border-color: #128622;
      background-color: #1f9a31;
    }
  }

  svg.fullscreen-svg {
    width: 6px;
    height: 6px;
    margin-top: 2px;
    margin-left: 2px;
    opacity: 0;
  }

  svg.maximize-svg {
    width: 8px;
    height: 8px;
    margin-top: 1px;
    margin-left: 1px;
    opacity: 0;
    display: none;
  }

  &.alt svg.fullscreen-svg {
    display: none;
  }

  &.alt svg.maximize-svg {
    display: block;
  }
}

.titlebar.is-win {
  padding: 0;
  background-color: #3c4659;
  // position: fixed;
  z-index: 100000;
  width: 100%;
  height: $titlebar-height;
  top: 0;
  -webkit-app-region: drag;
  margin: 0;
  height: 32px;
  overflow: hidden;

  &.webkit-draggable {
    -webkit-app-region: drag;
  }

  &:after {
    content: ' ';
    display: table;
    clear: both;
  }

  #titlebar-title {
    text-align: center;
    line-height: 32px;
    color: #fff;
    padding: 0 0 0 110px;
  }

  .titlebar-stoplight {
    float: right;
    text-align: left;
    -webkit-app-region: no-drag;

    &:after {
      content: ' ';
      display: table;
      clear: both;
    }
  }

  .titlebar-close,
  .titlebar-fullscreen,
  .titlebar-minimize {
    float: left;
    width: 45px;
    height: 31px;
    margin: 1px 1px 0 0;
    text-align: center;
    line-height: 29px;
    transition: background-color .2s;
  }

  .titlebar-close svg,
  .titlebar-fullscreen svg,
  .titlebar-minimize svg {
    width: 10px;
    height: 10px;
    shape-rendering: crispEdges;
  }

  .titlebar-close svg polygon {
    transition: fill .2s;
  }

  .titlebar:not(.fullscreen) svg.maximize-svg {
    display: none;
  }

  .titlebar.fullscreen svg.fullscreen-svg {
    display: none;
  }

  .titlebar-fullscreen:hover,
  .titlebar-minimize:hover,
  .titlebar-resize:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .titlebar-light .titlebar-fullscreen:hover,
  .titlebar-light .titlebar-minimize:hover,
  .titlebar-light .titlebar-resize:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .titlebar-close:hover {
    background-color: rgba(232, 17, 35, 0.9);
  }

  .titlebar-close:hover svg polygon {
    fill: rgba(255, 255, 255, 1);
  }

  .titlebar-light .titlebar-close:hover {
    fill: rgba(0, 0, 0, 1);
  }

  .titlebar-light svg > path,
  .titlebar-light svg polygon,
  .titlebar-light svg rect {
    fill: rgba(255, 255, 255, 1);
  }

  .titlebar-light .titlebar-close:hover {
    background-color: rgba(232, 17, 35, 0.9);
  }

}

/* ---- Side Bar ---- */
// Tabview switcher
.sidebar {
  box-shadow: 2px 0 5px 0 rgba(0,0,0,0.3);
  z-index: 99;
  left: 0;
  transition: all .3s ease;
  &.active {
    left: -60px;
  }
  @media #{$info-mobile} {
    &.float-menu {
      display: flex;
      flex-direction: row;
      width: 100%;
      // flex: 0 0 auto
      position: fixed;
      z-index: 10000;
      top: $titlebar-height;
      transition: top .2s;

      &.nav-up {
        top: -#{$sidebar-width};

      }
    }
  }
  @media #{$info-tablet} {
    width: $sidebar-width;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: $sidebar-width;
    top: 25px;
    height: 100vh;
    flex-direction: column;
    position: fixed;
  }
  margin: 0;
  -webkit-app-region: drag;
  background-color: $sidebar-bg-color;

  .convert,
  .entry {
    @media #{$info-mobile} {
      width: 33.33333%;
      flex-basis: 33.33333%;
      border-bottom: none;

      &:not(:last-child) {
        border-right: 1px solid $sidebar-divider-color;
      }
    }
    // Size
    height: $sidebar-width;
    flex-grow: 0;
    flex-basis: $sidebar-width;

    // content-inside arrangement
    display: flex;
    align-items: center;
    justify-content: center;

    // color
    border-bottom: 1px solid #121b29;
    border-top: 1px solid $sidebar-divider-color;
    color: $sidebar-icon-color;
    font-size: 22px;

    // gesture
    cursor: pointer;

    //divider
    -webkit-app-region: no-drag;
    -webkit-user-select: none;

    &:hover {
      background-color: $sidebar-entry-hover-bg-color;
      border-bottom: 0;
    }

    &.active {
      background-color: $sidebar-entry-active-bg-color;
      border: 0;
      color: #00ffc0;
    }
  }

  .func-area {
    position: absolute;
    bottom: 25px;
    left: 0;
    z-index: 10;
    width: 100%;

    .setting {
      height: 40px;
      font-size: 20px;
      color: #fff;
      width: 80%;
      text-align: center;
      margin: 0 auto;
      padding: 5px 0;
      border-top: 1px solid $sidebar-divider-color;
      display: block;
      border-bottom: 0;
      flex-basis: auto;

      &:not(:last-child) {
        border-top: 0;
      }

      &:hover {
        color: #857af8;
        background: none;
      }

      &.active {
        color: #857af8;
        background: none;
        border-top: 1px solid $sidebar-divider-color;
      }
      @media #{$info-mobile} {
        display: none;
      }
    }
  }
}

/* SEARCH VIEW */
#search-view {
  @media #{$info-mobile} {
    min-height: 100%;
    // height: 100%;
    // display: block;
    &:after {
      content: ('.');
      height: 50px;
      display: block;
    }
  }

  h2 {
    font-size: 80px;
    font-family: 'Raleway', sans-serif;
    color: #17c4bb;
    width: 600px;
    margin-top: 80px;
    margin-left: calc(50% - 300px);
    font-weight: 100;
    transition: all 1s ease;
    text-align: left;
    @media #{$info-mobile} {
      font-size: 35px;
      width: 100%;
      text-align: center;
      margin: 15% 0 auto;
    }

    span {
      color: #e4ff67;
    }

    &.active {
      font-size: 30px;
      font-weight: 400;
      margin: 0;
      width: 300px;
      @media #{$info-mobile} {
        width: 100%;
        text-align: center;
      }
    }
  }

  .input {
    border-radius: 5px 0 0 5px;
    height: 40px;
    box-shadow: none;
    background: #2c3e50;
    color: #fff;
    border: 0;

    &:hover {
      box-shadow: 0;
      border: 0;
    }

    &:focus {
      box-shadow: 0;
      border: 0;
    }

    &:active {
      box-shadow: 0;
      border: 0;
    }
  }

  .loading-bg {
    background-color: #222935;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    @media #{$info-mobile} {
      height: calc(100vh - #{$sidebar-width} - 68px);
    }
  }

  .loading {
    width: 2em;
    height: 2em;
  }
}

#search-header {
  background-color: $search-header-bg-color;
  padding: 1em;

  .container {
    max-width: $container-max-width;
  }

  .button {
    width: 100%;
    border-radius: 0 5px 5px 0;
    height: 40px;
    left: -6px;
    background: #2c3e50;
    border-left: 0;
    color: #425c77;
    border: 0;
    font-size: 25px;

    &:hover {
      box-shadow: 0;
      border: 0;
    }

    &:focus {
      box-shadow: 0;
      border: 0;
    }

    &:active {
      box-shadow: 0;
      border: 0;
    }
  }
}

#search-filters {
  margin-top: 1em;

  .tag {
    -webkit-user-select: none;
    font-size: 14px;
    margin: 0 .2em;
    background-color: #313743;
    color: #526c77;
    cursor: pointer;
    font-family: 'Roboto Condensed',"文泉驛正黑","WenQuanYi Zen Hei","黑體-繁","Heiti TC","微軟正黑體","Microsoft JhengHei",sans-serif;

    &:hover {
      background-color: #425c77;
    }

    &.active {
      background-color: #857af8;
      color: #fff;
    }
  }
}

#search-results {
  width: 100%;
  background: url("../img/ground.png") 0 calc(100% - 25px) repeat-x;
  transition: all 1s ease;
  padding: 0;
  @media #{$info-mobile} {
    background-image: none;
  }
  @media #{$info-tablet} {
    padding: 0;
  }

  &:after {
    content: ('.');
    height: 50px;
    display: block;

  }

  &.active {
    background-image: none;
    max-width: $container-max-width;
  }

}

.search-result.media {
  margin: 5px 0;
  padding: 1em;
  border-top: none;
  box-shadow: none;
  background: transparent;
  border-bottom: 1px solid #313e56;
  cursor: pointer;
  color: #fff;

  .thumb {
    width: 115px;
    height: 160px;
    border-radius: 3px;
  }

  .comic-name {
    font-size: 23px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 25px;
    padding: 5px 0;
    border-bottom: 1px solid #242e40;
    color: #fff;
  }

  &:hover {
    background-color: $search-result-hover-bg-color;
  }

  &.subscribed {
    background-color: $search-result-bg-color;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    border-bottom: 0;
    border-radius: 3px;
  }

  .content p {
    margin: 10px 0;
    font-size: 14px;
    color: #8a8a90;

    &.comic-host,
    &.comic-update-info {
      margin: 5px 0 0;
      color: #698aca;
      font-weight: 600;
      line-height: 15px;
      font-size: 13px;
    }

    &.comic-description {
      height: 85px;
      color: #b6cfce;
      overflow: hidden;
    }
  }

  .subscribe-btn {
    font-size: 1.4em;
    color: $non-subscribe-color;

    &:hover {
      color: $non-subscribe-hover-color;
    }

    &.subscribed {
      color: $subscribed-color;

      &:hover {
        color: $subscribed-hover-color;
      }
    }
  }
}

/** FAVORITE VIEW **/
#favorite-view {
  background: #222935;
  height: 100vh;
  padding: 2em 0;

  &:after {
    content: ('.');
    height: 50px;
    display: block;

  }
  // max-width: 960px
  @media #{$info-mobile} {
    padding: .2em 0;
    height: calc(100vh - #{$titlebar-height} - 0.8em);
  }

  h2 {
    font-size: 38px;
    font-family: 'Raleway', sans-serif;
    color: #7a8587;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .columns {
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto;
    @media #{$info-tablet} {
      width: 647px;
    }
    @media #{$info-widescreen} {
      width: 970.5px;
    }
    @media #{$info-fullhd} {
      width: 1294px;
    }

  }

  .media-content {
    color: #fff;
  }

  .icon-help {
    color: #e4ff67;
    font-size: 150px;
    text-align: center;
    width: 150px;
    display: block;
    margin: 100px auto 10px;
  }

  .messages {
    color: #fff;
    text-align: center;
    font-size: 25px;
    width: 100%;
  }
}

.favorite-entry.media {
  @extend .search-result.media;
  // margin: 0 auto;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  position: relative;
  margin: 3px;
  background: #373f4e;
  border-top: 7px solid #3c4659;

  &:hover {
    background: #303744;
  }

  .media-left {
    margin-right: 5px;
  }

  .media-right {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
  }

  .content p {
    margin: 0;
    line-height: 15px;
    padding: 0;
  }

  .thumb {
    width: 115px;
    height: 160px;
    border-radius: 3px;
  }

  .comic-name {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
    line-height: 25px;
    padding: 15px 0 5px;
    border-bottom: 2px dotted #676c75;
    color: #b1dad8;

    small {
      font-family: 'Roboto Condensed',"文泉驛正黑","WenQuanYi Zen Hei","黑體-繁","Heiti TC","微軟正黑體","Microsoft JhengHei",sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 15px;
    }
  }

  .level {
    margin: .5em 0;
    font-size: 13px;
    line-height: 20px;
  }

  .level-item {
    font-family: 'Roboto Condensed',"文泉驛正黑","WenQuanYi Zen Hei","黑體-繁","Heiti TC","微軟正黑體","Microsoft JhengHei",sans-serif;
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #fff;
    justify-content: inherit;

    &.last-read,
    &.newest {
      display: block;
      width: 105px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  @media #{$info-tablet} {
    width: 317px;
  }

  &.hasupdate {
    border-top: 10px solid #857af8;
  }

  .subscribe-btn {
    color: #697d8d;

    &:hover {
      color: #857af8;
    }
  }
}
/** READ VIEW **/
#read-view {
  transition: all .8s ease;

  .chapToggle {
    @media #{$info-mobile} {
      display: none;
    }
    color: #b1cece;
    font-size: 16px;
    width: $chapter-selector-width;
    display: inline-block;
    background: #1f232a;
    padding: 6px 0 0 50px;
    cursor: pointer;
    position: relative;
    z-index: 9999;
    height: 40px;

    span {
      font-size: 28px;
      float: left;
      margin-left: calc(50% - 40px);
    }

    p {
      line-height: 27px;
      display: block;
      padding: 0;
      opacity: 0;
    }

    &:hover {
      p {
        opacity: 1;
        padding: 0 0 0 35px;
        transition: .3s ease-in-out;
      }

      span {
        margin: 0;
        transition: .3s ease-in-out;
      }
    }
  }

  .toggleTag {
    position: absolute;
    left: -60px;
    bottom: 25px;
    z-index: 2;
    width: 40px;
    height: 40px;
    background: #415983;
    border-radius: 0 3px 3px 0;
    box-shadow: 2px 0 5px 0 rgba(0,0,0,0.3);
    color: #fff;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
    display: block;
    transition: all 1s ease;

    &.active {
      left: 0px;
      transition: all 1s ease;
    }

    &:hover {
      background: #0cffc0;
    }
  }

  .middle-panel {
    @media #{$info-mobile} {
      height: calc(100vh - #{$sidebar-width} - #{$titlebar-height});
      width: 100vw;
      top: calc( #{$titlebar-height} + #{$sidebar-width});
      z-index: 3;

    }
    @media #{$info-tablet} {
      height: 100vh;
      width: $chapter-selector-width;
      position: fixed;
      overflow-y: auto;
      left: $sidebar-width;
      overflow-x: hidden;
    }

    &.active {
      left: -250px;
    }
    transition: all .8s ease;
    z-index: 0;
    position: fixed;
    -webkit-user-select: none;

    #comic-header {
      border-left: 7px solid #e4ff67;
      padding-left: 0;
      @media #{$info-mobile} {
        &.float-menu {
          position: fixed;
          height: $sidebar-width;
          width: 100%;
          transition: top .2s;
          top: calc(#{$sidebar-width} + #{$titlebar-height});
          cursor: pointer;
          padding: 0 0 0 25px;

          &.nav-up {
            top: -#{$sidebar-width};
          }
        }
      }
      @media #{$info-tablet} {
        }
      width: #{$chapter-selector-width};
      position: fixed;
      left: calc($sidebar-widt + 1);
      height: $sidebar-width;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
      font-size: 16px;
      background-color: #4d5769;
      color: #fff;
      display: flex;

      .level-item {
        margin: 0;
      }

      .subscribe-btn {
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 19px;

        &.subscribed {
          color: #ff558d;
        }
      }
    }

    .loading-bg {
      @media #{$info-mobile} {
        height: calc(100vh - #{$sidebar-width} - 68px);
      }
      @media #{$info-tablet} {
        width: $chapter-selector-width;
        position: fixed;
        height: calc(100vh - #{$sidebar-width});
        background-color: rgba(0,0,0,0.8);
        margin-top: $sidebar-width;
      }
      z-index: 10000;

      .loading {
        width: 4em;
        height: 4em;
        margin: auto;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: calc(50% - 2em);
      }
    }

    #chapter-selector {
      @media #{$info-mobile} {
        height: calc(100vh - #{$sidebar-width}*2);
        margin-top: $sidebar-width;
      }
      @media #{$info-tablet} {
        width: $chapter-selector-width;
      }
      overflow-y: auto;
      height: calc(100vh - 125px);
      margin-top: calc(#{$sidebar-width} + 1px);
      padding: 0;
      color: #cecece;

      &:hover {
        overflow-y: scroll;
      }

      .chapter-entry {
        @media #{$info-mobile} {
          position: relative;
          z-index: 1000;
        }
        cursor: pointer;
        background: #373e4a;
        border-bottom: 1px solid #313743;
        padding: .73rem .72rem .73rem 25px;

        &:hover {
          background-color: #2f3640;
        }

        &.read {
          background-color: #3f4654;
        }

        &.active {
          background-color: #2f3640;
          border-bottom: 2px solid #17c4bb;

          &:before {
            color: #17c4bb;
          }
        }

        &:before {
          content: "• ";
          font-size: 22px;
          line-height: 22px;
          letter-spacing: 3px;
        }
      }
    }
  }

  .controlTips {
    position: absolute;
    left: 325px;
    top: 35px;
    z-index: 99;
    width: 160px;
    transition: opacity 1.5s;
    opacity: 0;

    &.is-visible {
      transition: opacity 1.5s;
      opacity: 1;
    }
    @media #{$info-mobile} {
      display: none;
    }

    li {
      display: block;
      width: 50px;
      height: 50px;
      font-size: 50px;
      color: #17c4bb;
      line-height: 50px;
      text-align: center;
      position: absolute;
      opacity: .6;
      background: rgba(0, 0, 0, 0.5);

      &:nth-child(1) {
        left: 55px;
      }

      &:nth-child(2) {
        top: 55px;
      }

      &:nth-child(3) {
        top: 55px;
        left: 55px;
      }

      &:nth-child(4) {
        top: 55px;
        left: 110px;
      }

    }
  }

  #read-area {
    @media #{$info-mobile} {
      margin-top: $sidebar-width;
      min-height: calc(100vh - #{$sidebar-width} * 2 - #{$titlebar-height});
    }
    @media #{$info-tablet} {
      margin-left: calc(#{$chapter-selector-width} +  #{$sidebar-width});
      // margin-top: 22px;
      min-height: calc(100vh - #{$titlebar-height});
    }
    transition: all .5s ease;

    &.active {
      margin-left: -45px;

      .zoom-btn {
        left: 50px;
        top: 10px;
      }
    }
    height: calc(100vh - #{$titlebar-height});
    overflow-y: auto;
    background-color: #222935;
    color: #fff;
    padding: 0;

    .comic-page-container {
      // height: 100vh;
      // background-color: #aaa;
      position: relative;
      -webkit-user-select: none;
      margin-bottom: 1em;

      img {
        height: calc(100vh - #{$titlebar-height});
        display: block;
        margin: 0 auto;
        background: url("../img/download-bg.png") center 30vh no-repeat;
        min-width: 334px;
        object-fit: contain;
        @media #{$info-mobile} {
          height: calc(100vh - #{$titlebar-height} - #{$sidebar-width} * 2);
        }
      }

      .zoom-btn {
        // z-index: 10000;
        // visibility: hidden;
        opacity: .3;
        font-size: 1.5em;
        position: absolute;
        padding: .15em .4em;
        background-color: rgba(0,0,0,0.8);
        border-radius: 5px;
        z-index: 99;

        &:hover {
          // visibility: visible;
          opacity: 1;
          transition: opacity .2s ease-out;
        }

      }
    }

    .last-page {
      border: solid 1px #aaa;
      padding: 1em;
      margin: 0 auto 1em;
      width: 334px;
      text-align: center;
    }
  }
}
/* ABOUT VIEW */
#about-view {
  .app-info {
    text-align: center;
    color: #fff;

    img {
      max-width: 310px;
      margin: 15vh auto 0;
    }

    .app-name {
      font-size: 35px;
      line-height: 1;
    }

    a {
      &:hover {
        color: #857af8;
      }
    }

    .other-info {
      font-size: 13px;
      line-height: 25px;

      a {
        &:hover {
          color: #857af8;
        }
      }
    }

    .version {
      display: inline-block;
      padding: 0 0 10px;
    }

    .description {
      padding: 15px 0 0;
    }

    .update-btn {
      margin: 0 0 30px;
    }

  }

}
