/**
 *      Import
 **/
@import "loading";
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


/**
 *      media query
 **/
$info-mobile: "only screen and (max-width : 768px)";
$info-tablet: "only screen and (min-width: 769px)";
$info-tablet-only: "only screen and (min-width: 769px) and (max-width: 999px)";
$info-touch: "only screen and (max-width: 999px)";
$info-desktop: "only screen and (min-width: 1000px)";
$info-desktop-only: "only screen and (min-width: 1000px) and (max-width: 1191px)";
$info-widescreen: "only screen and (min-width: 1192px)";
$info-fullhd: "only screen and (min-width: 1344px)";

/**
  *     General
  */
$container-max-width: 960px;

/**
  *     Title Bar
  */
$titlebar-height: 25px;

/**
  *     Sidebar
  **/
// layout
$sidebar-width: 60px;
// color
$sidebar-bg-color: #1f2b3d;
$sidebar-divider-color: #2b3b55;
$sidebar-icon-color: #fff;
$sidebar-entry-hover-bg-color: #26344b;
$sidebar-entry-active-bg-color: #17C4BB;

/**
  *     Search View
  **/
// layout
$search-result-thumbnail-width: 100px;

// color
$search-header-bg-color: #34495e;
$search-result-bg-color: #373f4e;
$search-result-hover-bg-color: #303744;

$non-subscribe-color: #aaa;
$non-subscribe-hover-color: #558;
$subscribed-color: #fc5fa1;
$subscribed-hover-color: #d55;


/**
  *     Read View
  */
// layout
$chapter-selector-width: 250px;


/* ---- Utility ----*/

/* ---- Overall area ----*/
// .tile.is-ancestor.content {
//     display: flex;
// }

body, html, .whole-view {
    font-family:'Roboto Condensed',"文泉驛正黑","WenQuanYi Zen Hei","黑體-繁","Heiti TC","微軟正黑體","Microsoft JhengHei",sans-serif;
    // background: linear-gradient(to bottom, #7072e3 0%,#7f66e5 44%,#964cdb 100%);
    background: #222935;
    @media #{$info-mobile} {
        height: 100%;
    }
}

body {
    @media #{$info-mobile} {
        // overflow: hidden;
    }
}


.whole-view {
    @media #{$info-mobile} {
        display: flex;
        flex-direction: column;
    }
    &.tile.is-ancestor#whole-view {
        margin: $titlebar-height 0 0;
    }
}

#main-view {
    @media #{$info-mobile} {
        display: flex;
        margin-top: $sidebar-width;
        // flex: 1 1 auto;
        // position: relative;
        // overflow-y: auto;
    }

    @media #{$info-tablet} {
        min-height: 100vh;
        flex-shrink: 0;
        flex-basis: calc(100% - #{$sidebar-width});
        margin-left: $sidebar-width;
    }
}

/**
 *     Title Bar
 **/
.titlebar {
    background-color: $sidebar-bg-color;
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: $titlebar-height;
    top: 0;
}

.titlebar-close,
.titlebar-minimize,
.titlebar-fullscreen {
  width: 12px;
	height: 12px;
  text-indent: -9999px
}

.titlebar-close {
	&:hover {
  	border-color: #ad3934;
  	background-color: #bf4943;
  }
}

.titlebar-minimize {
   &:hover {
  	border-color: #ad7d15;
  	background-color: #bf9123;
  }
}



.titlebar-fullscreen,
.titlebar-maximize {
  &:hover {
  	border-color: #128622;
  	background-color: #1f9a31;
  }
}



/* ---- Side Bar ---- */
// Tabview switcher
.sidebar {
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.3);
    z-index: 99;
    @media #{$info-mobile} {
        &.float-menu {
            display:flex;
            flex-direction: row;
            width: 100%;
            // flex: 0 0 auto
            position: fixed;
            z-index: 10000;
            top: 0;
            transition: top 0.2s;

            &.nav-up {
                top: -#{$sidebar-width};

            }
        }
    }

    @media #{$info-tablet} {
        width: $sidebar-width;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: $sidebar-width;
        height: 100vh;
        flex-direction: column;
        position:fixed;
    }

    background-color: $sidebar-bg-color;

    .entry, .convert {
        @media #{$info-mobile} {
            width: 33.33333%;
            flex-basis: 33.33333%;
            border-bottom: none;
            &:not(:last-child) {
                border-right: 1px solid $sidebar-divider-color;
            }
        }
        // Size
        height: $sidebar-width;
        flex-grow:0;
        flex-basis: $sidebar-width;

        // content-inside arrangement
        display: flex;
        align-items: center;
        justify-content: center;

        // color
        border-bottom: 1px solid #121b29;
        border-top: 1px solid $sidebar-divider-color;
        color: $sidebar-icon-color;
        font-size: 24px;

        // gesture
        cursor: pointer;

        //divider


        &:hover {
            background-color: $sidebar-entry-hover-bg-color;
            border-bottom: 0px;
        }

        &.active {
            background-color: $sidebar-entry-active-bg-color;
            border: 0px;
        }
    }
}

/* ---- Search Panel ---- */
#search-view {
    h2{
      font-size: 35px;
      font-family: 'Raleway', sans-serif;
      color: #4991fc;

      span{
        color: #fc5fa1;
      }
    }
    .input{
      border-radius: 5px 0 0 5px;
      height: 40px;
      box-shadow: none;
      background: #2c3e50;
      color: #fff;
      border: 0px;
      &:hover{
        box-shadow: 0px;
        border: 0px;
      }
      &:focus{
        box-shadow: 0px;
        border: 0px;
      }
      &:active{
        box-shadow: 0px;
        border: 0px;
      }
    }
    .loading-bg {
        background-color: #333;
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;

        @media #{$info-mobile} {
            height: calc(100vh - #{$sidebar-width} - 68px);
        }
    }
    .loading {
        width: 2em;
        height: 2em;
    }
}

#search-header {
    background-color: $search-header-bg-color;
    padding: 1em;

    .container {
        max-width: $container-max-width;;
    }

    .button {
        width: 100%;
        border-radius: 0 5px 5px 0;
        height: 40px;
        left: -6px;
        background: #2c3e50;
        border-left: 0px;
        color: #425c77;
        border: 0px;
        &:hover{
          box-shadow: 0px;
          border: 0px;
        }
        &:focus{
          box-shadow: 0px;
          border: 0px;
        }
        &:active{
          box-shadow: 0px;
          border: 0px;
        }
    }
}

#search-results{
    // background-color: #eee;
    max-width: $container-max-width;
    @media #{$info-tablet} {
        padding: 0.5em;
    }

}

.search-result.media {
    margin: 5px 0;
    padding: 1em;
    border-top: none;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    background-color: $search-result-bg-color;
    cursor: pointer;
    color: #fff;
    .thumb{
      width: 115px;
      height: 160px;
    }
    .comic-name{
      font-size: 23px;
      overflow: hidden;
      white-space : nowrap;
      line-height: 25px;
      padding: 5px 0 5px 0;
      border-bottom: 1px solid #242e40;
      color: #fff;
    }
    &:hover {
        background-color: $search-result-hover-bg-color;
    }
    .content p {
        margin: 10px 0;
        font-size: 15px;
        color: #fff;
        &.comic-host, &.comic-update-info {
            margin: 5px 0 0 0;
            color:#698aca;
            font-weight: 600;
            line-height: 15px;
            font-size: 13px;
        }
        &.comic-description {
            height: 85px;
            color: #b6cfce;
            overflow: hidden;
        }
    }

    .subscribe-btn {
        font-size: 1.4em;
        color: $non-subscribe-color;

        &:hover {
            color: $non-subscribe-hover-color;
        }
        &.subscribed {
            color: $subscribed-color;
            &:hover {
                color: $subscribed-hover-color;
            }
        }
    }
}


#favorite-view {
    background: #222935;
    height: 100vh;
    padding: 2em 0;
    // max-width: 960px
    @media #{$info-mobile} {
        padding: 0.5em 0;
    }
    h2{
      font-size: 38px;
      font-family: 'Raleway', sans-serif;
      color: #7a8587;
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
    .columns {
        flex-wrap: wrap;
        align-content: flex-start;
        margin: auto;
        @media #{$info-tablet} {
            width: 647px;
        }
        @media #{$info-widescreen} {
            width: 970.5px;
        }

        @media #{$info-fullhd} {
            width: 1294px;
        }

    }

    .media-content{
      color: #fff;
    }
}

.favorite-entry.media {
    @extend .search-result.media;
    // margin: 0 auto;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    position: relative;
    margin: 3px;
    background: #373f4e;
    border-top: 10px solid #3c4659;
    &:hover{
      background: #303744;
    }
    .media-left {
        margin-right: 0.2em;
    }
    .media-right {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 2;
    }

    .content p {
        margin: 0;
        line-height: 15px;
        padding: 0;
    }
    .thumb{
      width: 115px;
      height: 160px;
    }
    .comic-name{
      font-size: 20px;
      overflow: hidden;
      text-overflow : ellipsis;
      white-space : nowrap;
      width : 150px;
      line-height: 25px;
      padding: 15px 0 5px 0;
      border-bottom: 1px solid #242e40;
      color: #fff;
      small{
        font-family: 'Roboto Condensed',"文泉驛正黑","WenQuanYi Zen Hei","黑體-繁","Heiti TC","微軟正黑體","Microsoft JhengHei",sans-serif;
        font-weight: 600;
        font-size:13px;
        line-height: 15px;
      }
    }
    .level {
        margin: 0.5em 0;
        font-size: 13px;
        line-height: 20px;
    }
    .level-item{
      font-family: 'Roboto Condensed',"文泉驛正黑","WenQuanYi Zen Hei","黑體-繁","Heiti TC","微軟正黑體","Microsoft JhengHei",sans-serif;
      margin: 0;
      padding: 0;
      font-size: 13px;
      color: #fff;

      &.last-read, &.newest{
        display: block;
        width: 105px;
        overflow: hidden;
        text-overflow : ellipsis;
        white-space : nowrap;
      }
    }
    @media #{$info-tablet} {
        width: 317px;
    }

    &.hasupdate {
        border-top: 10px solid #857af8
    }
    .subscribe-btn{
      color: #697d8d;
      &:hover{
        color: #857af8;
      }
    }
}

#read-view {

    .middle-panel {
        @media #{$info-mobile} {
            height: calc(100vh - #{$sidebar-width});
            width: 100vw;
            top: $sidebar-width;

        }
        @media #{$info-tablet} {
            height: calc(100vh - #{$titlebar-height};
            width: $chapter-selector-width;
            position: fixed;
            overflow-y: auto;
            left: $sidebar-width;
            z-index: 2;
            overflow-x: hidden;
        }

        position: fixed;

        #comic-header {
            @media #{$info-mobile} {
                &.float-menu {
                    position: fixed;
                    height: $sidebar-width;
                    width: 100%;
                    transition: top 0.2s;
                    top: $sidebar-width;
                    // margin-top: $sidebar-width;
                    &.nav-up {
                        top: -#{$sidebar-width};
                    }
                }
            }

            @media #{$info-tablet} {
                width: #{$chapter-selector-width};
                position: fixed;
                left: calc($sidebar-widt + 1);
                height: $sidebar-width;
                box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
                font-size: 18px;
            }
            background-color: #4d5769;
            border-bottom: 1px solid #313743;
            color: #fff;
            display: flex;

            .level-item {
                margin: 0;
            }

            .subscribe-btn {
                line-height: 1em;
                cursor: pointer;
                position: absolute;
                right: 15px;
                top: 0px;

                &.subscribed {
                    color: #ff558d;
                }
            }
        }

        .loading-bg {
            @media #{$info-mobile} {
                height: calc(100vh - #{$sidebar-width} - 68px);
            }
            @media #{$info-tablet} {
                width: $chapter-selector-width;
                position: fixed;
                height: calc(100vh - #{$sidebar-width});
                background-color: rgba(0,0,0,0.8);
                margin-top: $sidebar-width;
            }
            z-index: 10000;

            .loading {
                width: 4em;
                height: 4em;
                margin: auto;
                vertical-align: middle;
                position: absolute;
                top: 50%;
                left: calc(50% - 2em);
            }
        }


        #chapter-selector {
            @media #{$info-mobile} {
                height: calc(100vh - #{$sidebar-width}*2);
                overflow-y: auto;
            }
            @media #{$info-tablet} {
                width: $chapter-selector-width;
            }
            margin-top: $sidebar-width;
            padding: 0;
            color: #cecece;

            .chapter-entry {
                cursor: pointer;
                background: #373e4a;
                border-bottom: 1px solid #313743;

                &:hover {
                    background-color: #2f3640;
                }

                &.read {
                    background-color: #3f4654;
                }

                &.active {
                    background-color: #2f3640;
                    border-bottom: 2px solid #17c4bb;
                }
            }
        }
    }
    .controlTips{
      position: absolute;
      left: 320px;
      top: calc(#{$titlebar-height} + 10px);
      z-index: 99;
      width: 160px;
      @media #{$info-mobile} {
          display: none;
      }

      li{
        display: block;
        width: 50px;
        height: 50px;
        background: rgba(129, 104, 255, 0.8);
        font-size: 25px;
        color: #fff;
        border: 2px solid #ab92ee;
        line-height: 50px;
        text-align: center;
        position: absolute;
        border-radius: 6px;

        &:nth-child(1){
          left: 55px;
        }
        &:nth-child(2){
          top: 55px;
        }
        &:nth-child(3){
          top: 55px;
          left: 55px;
        }
        &:nth-child(4){
          top: 55px;
          left: 110px;
        }


        span{
          font-size: 10px;
          position: absolute;
          left: 3px;
          top: 23px;
          z-index: 2;
          line-height: 10px;
          width: 40px;
          text-align: center;
        }
      }
    }
    #read-area {
        @media #{$info-mobile} {
            margin-top: $sidebar-width;
            min-height: calc(100vh - #{$sidebar-width} * 2);
        }
        @media #{$info-tablet} {
            margin-left: $chapter-selector-width;
            // margin-top: 22px;
            min-height: calc(100vh - #{$titlebar-height});
        }
        background-color: #333638;
        color: #fff;
        padding: 0;
        .comic-page-container {
            // height: 100vh;
            // background-color: #aaa;
            margin-bottom: 1em;
            img {
                height: calc(100vh - #{$titlebar-height});
                display: block;
                margin: 0 auto;
            }
        }
    }
}
