@charset "UTF-8";
/**
 *      Import
 **/
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes pulse {
  50% {
    background: white; } }

.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  animation: spin 1s infinite linear; }
  .loading--double {
    border-style: double;
    border-width: .5rem; }

.loading-pulse {
  position: relative;
  width: 6px;
  height: 24px;
  background: rgba(255, 255, 255, 0.2);
  animation: pulse 750ms infinite;
  animation-delay: 250ms; }
  .loading-pulse:before, .loading-pulse:after {
    content: '';
    position: absolute;
    display: block;
    height: 16px;
    width: 6px;
    background: rgba(255, 255, 255, 0.2);
    top: 50%;
    transform: translateY(-50%);
    animation: pulse 750ms infinite; }
  .loading-pulse:before {
    left: -12px; }
  .loading-pulse:after {
    left: 12px;
    animation-delay: 500ms; }

/**
 *      media query
 **/
/**
  *     General
  */
/**
  *     Title Bar
  */
/**
  *     Sidebar
  **/
/**
  *     Search View
  **/
/**
  *     Read View
  */
/* ---- Utility ----*/
/* ---- Overall area ----*/
body, html, .whole-view {
  font-family: 'Roboto Condensed',"文泉驛正黑","WenQuanYi Zen Hei","黑體-繁","Heiti TC","微軟正黑體","Microsoft JhengHei",sans-serif;
  background: #222935; }
  @media only screen and (max-width: 768px) {
    body, html, .whole-view {
      height: 100%; } }

@media only screen and (max-width: 768px) {
  .whole-view {
    display: flex;
    flex-direction: column; } }

.whole-view.tile.is-ancestor#whole-view {
  margin: 25px 0 0; }

@media only screen and (max-width: 768px) {
  #main-view {
    display: flex;
    margin-top: 60px; } }

@media only screen and (min-width: 769px) {
  #main-view {
    min-height: 100vh;
    flex-shrink: 0;
    flex-basis: calc(100% - 60px);
    margin-left: 60px; } }

/**
 *     Title Bar
 **/
.titlebar {
  background-color: #1f2b3d;
  position: fixed;
  z-index: 10000;
  width: 100%;
<<<<<<< HEAD
  height: 25px;
  top: 0; }
=======
  height: 22px;
  top: 0;
  -webkit-app-region: drag; }
>>>>>>> 593c82d5807f864bfebf6599513a950116856b3b

.titlebar-close,
.titlebar-minimize,
.titlebar-fullscreen {
  width: 12px;
  height: 12px;
  text-indent: -9999px; }

.titlebar-close:hover {
  border-color: #ad3934;
  background-color: #bf4943; }

.titlebar-minimize:hover {
  border-color: #ad7d15;
  background-color: #bf9123; }

.titlebar-fullscreen:hover,
.titlebar-maximize:hover {
  border-color: #128622;
  background-color: #1f9a31; }

/* ---- Side Bar ---- */
.sidebar {
<<<<<<< HEAD
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 99;
=======
  -webkit-app-region: drag;
>>>>>>> 593c82d5807f864bfebf6599513a950116856b3b
  background-color: #1f2b3d; }
  @media only screen and (max-width: 768px) {
    .sidebar.float-menu {
      display: flex;
      flex-direction: row;
      width: 100%;
      position: fixed;
      z-index: 10000;
      top: 0;
      transition: top 0.2s; }
      .sidebar.float-menu.nav-up {
        top: -60px; } }
  @media only screen and (min-width: 769px) {
    .sidebar {
      width: 60px;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 60px;
      height: 100vh;
      flex-direction: column;
      position: fixed; } }
  .sidebar .entry, .sidebar .convert {
    height: 60px;
    flex-grow: 0;
    flex-basis: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #121b29;
    border-top: 1px solid #2b3b55;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    -webkit-app-region: no-drag;
    -webkit-user-select: none; }
    @media only screen and (max-width: 768px) {
      .sidebar .entry, .sidebar .convert {
        width: 33.33333%;
        flex-basis: 33.33333%;
        border-bottom: none; }
        .sidebar .entry:not(:last-child), .sidebar .convert:not(:last-child) {
          border-right: 1px solid #2b3b55; } }
    .sidebar .entry:hover, .sidebar .convert:hover {
      background-color: #26344b;
      border-bottom: 0px; }
    .sidebar .entry.active, .sidebar .convert.active {
      background-color: #17C4BB;
      border: 0px; }

/* ---- Search Panel ---- */
#search-view h2 {
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  color: #4991fc; }
  #search-view h2 span {
    color: #fc5fa1; }

#search-view .input {
  border-radius: 5px 0 0 5px;
  height: 40px;
  box-shadow: none;
  background: #2c3e50;
  color: #fff;
  border: 0px; }
  #search-view .input:hover {
    box-shadow: 0px;
    border: 0px; }
  #search-view .input:focus {
    box-shadow: 0px;
    border: 0px; }
  #search-view .input:active {
    box-shadow: 0px;
    border: 0px; }

#search-view .loading-bg {
  background-color: #333;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 768px) {
    #search-view .loading-bg {
      height: calc(100vh - 60px - 68px); } }

#search-view .loading {
  width: 2em;
  height: 2em; }

#search-header {
  background-color: #34495e;
  padding: 1em; }
  #search-header .container {
    max-width: 960px; }
  #search-header .button {
    width: 100%;
    border-radius: 0 5px 5px 0;
    height: 40px;
    left: -6px;
    background: #2c3e50;
    border-left: 0px;
    color: #425c77;
    border: 0px; }
    #search-header .button:hover {
      box-shadow: 0px;
      border: 0px; }
    #search-header .button:focus {
      box-shadow: 0px;
      border: 0px; }
    #search-header .button:active {
      box-shadow: 0px;
      border: 0px; }

#search-results {
  max-width: 960px; }
  @media only screen and (min-width: 769px) {
    #search-results {
      padding: 0.5em; } }

.search-result.media, .favorite-entry.media {
  margin: 5px 0;
  padding: 1em;
  border-top: none;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #373f4e;
  cursor: pointer;
  color: #fff; }
  .search-result.media .thumb, .favorite-entry.media .thumb {
    width: 115px;
    height: 160px; }
  .search-result.media .comic-name, .favorite-entry.media .comic-name {
    font-size: 23px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 25px;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #242e40;
    color: #fff; }
  .search-result.media:hover, .favorite-entry.media:hover {
    background-color: #303744; }
  .search-result.media .content p, .favorite-entry.media .content p {
    margin: 10px 0;
    font-size: 15px;
    color: #fff; }
    .search-result.media .content p.comic-host, .favorite-entry.media .content p.comic-host, .search-result.media .content p.comic-update-info, .favorite-entry.media .content p.comic-update-info {
      margin: 5px 0 0 0;
      color: #698aca;
      font-weight: 600;
      line-height: 15px;
      font-size: 13px; }
    .search-result.media .content p.comic-description, .favorite-entry.media .content p.comic-description {
      height: 85px;
      color: #b6cfce;
      overflow: hidden; }
  .search-result.media .subscribe-btn, .favorite-entry.media .subscribe-btn {
    font-size: 1.4em;
    color: #aaa; }
    .search-result.media .subscribe-btn:hover, .favorite-entry.media .subscribe-btn:hover {
      color: #558; }
    .search-result.media .subscribe-btn.subscribed, .favorite-entry.media .subscribe-btn.subscribed {
      color: #fc5fa1; }
      .search-result.media .subscribe-btn.subscribed:hover, .favorite-entry.media .subscribe-btn.subscribed:hover {
        color: #d55; }

#favorite-view {
  background: #222935;
  height: 100vh;
  padding: 2em 0; }
  @media only screen and (max-width: 768px) {
    #favorite-view {
      padding: 0.5em 0; } }
  #favorite-view h2 {
    font-size: 38px;
    font-family: 'Raleway', sans-serif;
    color: #7a8587;
    width: 100%;
    text-align: center;
    margin: 0 auto; }
  #favorite-view .columns {
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto; }
    @media only screen and (min-width: 769px) {
      #favorite-view .columns {
        width: 647px; } }
    @media only screen and (min-width: 1192px) {
      #favorite-view .columns {
        width: 970.5px; } }
    @media only screen and (min-width: 1344px) {
      #favorite-view .columns {
        width: 1294px; } }
  #favorite-view .media-content {
    color: #fff; }

.favorite-entry.media {
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 3px;
  background: #373f4e;
  border-top: 10px solid #3c4659; }
  .favorite-entry.media:hover {
    background: #303744; }
  .favorite-entry.media .media-left {
    margin-right: 0.2em; }
  .favorite-entry.media .media-right {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2; }
  .favorite-entry.media .content p {
    margin: 0;
    line-height: 15px;
    padding: 0; }
  .favorite-entry.media .thumb {
    width: 115px;
    height: 160px; }
  .favorite-entry.media .comic-name {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
    line-height: 25px;
    padding: 15px 0 5px 0;
    border-bottom: 1px solid #242e40;
    color: #fff; }
    .favorite-entry.media .comic-name small {
      font-family: 'Roboto Condensed',"文泉驛正黑","WenQuanYi Zen Hei","黑體-繁","Heiti TC","微軟正黑體","Microsoft JhengHei",sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 15px; }
  .favorite-entry.media .level {
    margin: 0.5em 0;
    font-size: 13px;
    line-height: 20px; }
  .favorite-entry.media .level-item {
    font-family: 'Roboto Condensed',"文泉驛正黑","WenQuanYi Zen Hei","黑體-繁","Heiti TC","微軟正黑體","Microsoft JhengHei",sans-serif;
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #fff; }
    .favorite-entry.media .level-item.last-read, .favorite-entry.media .level-item.newest {
      display: block;
      width: 105px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  @media only screen and (min-width: 769px) {
    .favorite-entry.media {
      width: 317px; } }
  .favorite-entry.media.hasupdate {
    border-top: 10px solid #857af8; }
  .favorite-entry.media .subscribe-btn {
    color: #697d8d; }
    .favorite-entry.media .subscribe-btn:hover {
      color: #857af8; }

#read-view .middle-panel {
  position: fixed;
  -webkit-user-select: none; }
  @media only screen and (max-width: 768px) {
    #read-view .middle-panel {
      height: calc(100vh - 60px);
      width: 100vw;
      top: 60px; } }
  @media only screen and (min-width: 769px) {
    #read-view .middle-panel {
      height: calc(100vh - 25px);
      width: 250px;
      position: fixed;
      overflow-y: auto;
      left: 60px;
      z-index: 2;
      overflow-x: hidden; } }
  #read-view .middle-panel #comic-header {
    background-color: #4d5769;
    border-bottom: 1px solid #313743;
    color: #fff;
    display: flex; }
    @media only screen and (max-width: 768px) {
      #read-view .middle-panel #comic-header.float-menu {
        position: fixed;
        height: 60px;
        width: 100%;
        transition: top 0.2s;
        top: 60px; }
        #read-view .middle-panel #comic-header.float-menu.nav-up {
          top: -60px; } }
    @media only screen and (min-width: 769px) {
      #read-view .middle-panel #comic-header {
        width: 250px;
        position: fixed;
        left: calc($sidebar-widt + 1);
        height: 60px;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
        font-size: 18px; } }
    #read-view .middle-panel #comic-header .level-item {
      margin: 0; }
    #read-view .middle-panel #comic-header .subscribe-btn {
      cursor: pointer;
      position: absolute;
      right: 15px;
      top: 19px; }
      #read-view .middle-panel #comic-header .subscribe-btn.subscribed {
        color: #ff558d; }
  #read-view .middle-panel .loading-bg {
    z-index: 10000; }
    @media only screen and (max-width: 768px) {
      #read-view .middle-panel .loading-bg {
        height: calc(100vh - 60px - 68px); } }
    @media only screen and (min-width: 769px) {
      #read-view .middle-panel .loading-bg {
        width: 250px;
        position: fixed;
        height: calc(100vh - 60px);
        background-color: rgba(0, 0, 0, 0.8);
        margin-top: 60px; } }
    #read-view .middle-panel .loading-bg .loading {
      width: 4em;
      height: 4em;
      margin: auto;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      left: calc(50% - 2em); }
  #read-view .middle-panel #chapter-selector {
    margin-top: 60px;
    padding: 0;
    color: #cecece; }
    @media only screen and (max-width: 768px) {
      #read-view .middle-panel #chapter-selector {
        height: calc(100vh - 60px*2);
        overflow-y: auto; } }
    @media only screen and (min-width: 769px) {
      #read-view .middle-panel #chapter-selector {
        width: 250px; } }
    #read-view .middle-panel #chapter-selector .chapter-entry {
      cursor: pointer;
      background: #373e4a;
      border-bottom: 1px solid #313743; }
      #read-view .middle-panel #chapter-selector .chapter-entry:hover {
        background-color: #2f3640; }
      #read-view .middle-panel #chapter-selector .chapter-entry.read {
        background-color: #3f4654; }
      #read-view .middle-panel #chapter-selector .chapter-entry.active {
        background-color: #2f3640;
        border-bottom: 2px solid #17c4bb; }

#read-view .controlTips {
  position: absolute;
  left: 320px;
  top: calc(25px + 10px);
  z-index: 99;
  width: 160px; }
  @media only screen and (max-width: 768px) {
    #read-view .controlTips {
      display: none; } }
  #read-view .controlTips li {
    display: block;
    width: 50px;
    height: 50px;
    background: rgba(129, 104, 255, 0.8);
    font-size: 25px;
    color: #fff;
    border: 2px solid #ab92ee;
    line-height: 50px;
    text-align: center;
    position: absolute;
    border-radius: 6px; }
    #read-view .controlTips li:nth-child(1) {
      left: 55px; }
    #read-view .controlTips li:nth-child(2) {
      top: 55px; }
    #read-view .controlTips li:nth-child(3) {
      top: 55px;
      left: 55px; }
    #read-view .controlTips li:nth-child(4) {
      top: 55px;
      left: 110px; }
    #read-view .controlTips li span {
      font-size: 10px;
      position: absolute;
      left: 3px;
      top: 23px;
      z-index: 2;
      line-height: 10px;
      width: 40px;
      text-align: center; }

#read-view #read-area {
  background-color: #333638;
  color: #fff;
  padding: 0; }
  @media only screen and (max-width: 768px) {
    #read-view #read-area {
      margin-top: 60px;
      min-height: calc(100vh - 60px * 2); } }
  @media only screen and (min-width: 769px) {
    #read-view #read-area {
      margin-left: 250px;
      min-height: calc(100vh - 25px); } }
  #read-view #read-area .comic-page-container {
    margin-bottom: 1em; }
    #read-view #read-area .comic-page-container img {
      height: calc(100vh - 25px);
      display: block;
      margin: 0 auto; }
