/**
 *      Import
 **/
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes pulse {
  50% {
    background: white; } }

.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  animation: spin 1s infinite linear; }
  .loading--double {
    border-style: double;
    border-width: .5rem; }

.loading-pulse {
  position: relative;
  width: 6px;
  height: 24px;
  background: rgba(255, 255, 255, 0.2);
  animation: pulse 750ms infinite;
  animation-delay: 250ms; }
  .loading-pulse:before, .loading-pulse:after {
    content: '';
    position: absolute;
    display: block;
    height: 16px;
    width: 6px;
    background: rgba(255, 255, 255, 0.2);
    top: 50%;
    transform: translateY(-50%);
    animation: pulse 750ms infinite; }
  .loading-pulse:before {
    left: -12px; }
  .loading-pulse:after {
    left: 12px;
    animation-delay: 500ms; }

/**
 *      media query 
 **/
/**
  *     General
  */
/** 
  *     Sidebar 
  **/
/**
  *     Search View
  **/
/* ---- Utility ----*/
/* ---- Overall area ----*/
@media only screen and (max-width: 768px) {
  body, html, .whole-view {
    height: 100%; } }

@media only screen and (max-width: 768px) {
  .whole-view {
    display: flex;
    flex-direction: column; } }

@media only screen and (max-width: 768px) {
  #main-view {
    display: flex;
    margin-top: 50px; } }

@media only screen and (min-width: 769px) {
  #main-view {
    min-height: 100vh;
    flex-shrink: 0;
    flex-basis: calc(100% - 50px);
    margin-left: 50px; } }

/* ---- Side Bar ---- */
.sidebar {
  background-color: #000; }
  @media only screen and (max-width: 768px) {
    .sidebar {
      display: flex;
      flex-direction: row;
      width: 100%;
      position: fixed;
      z-index: 10000;
      top: 0;
      transition: top 0.2s; } }
  @media only screen and (min-width: 769px) {
    .sidebar {
      width: 50px;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 50px;
      height: 100vh;
      flex-direction: column;
      position: fixed; } }
  .sidebar.nav-up {
    top: -50px; }
  .sidebar .entry {
    height: 50px;
    flex-grow: 0;
    flex-basis: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    color: #e3e3e3;
    font-size: 24px;
    cursor: pointer; }
    @media only screen and (max-width: 768px) {
      .sidebar .entry {
        width: 33.33333%;
        flex-basis: 33.33333%;
        border-bottom: none; }
        .sidebar .entry:not(:last-child) {
          border-right: 1px solid #ccc; } }
    .sidebar .entry:hover {
      background-color: #88a; }
    .sidebar .entry.active {
      background-color: #776; }

/* ---- Search Panel ---- */
#search-view .loading-bg {
  background-color: #333;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 768px) {
    #search-view .loading-bg {
      height: calc(100vh - 50px - 68px); } }

#search-view .loading {
  width: 2em;
  height: 2em; }

#search-header {
  background-color: #e3e3e3;
  padding: 1em; }
  #search-header .container {
    max-width: 960px; }
  #search-header .button {
    width: 100%; }

#search-results {
  max-width: 960px; }
  @media only screen and (min-width: 769px) {
    #search-results {
      padding: 0.5em; } }

.search-result.media, .favorite-entry.media {
  margin-top: 0;
  margin-bottom: 0.2em;
  padding: 1em;
  border-top: none;
  background-color: #f8f8ff;
  cursor: pointer; }
  .search-result.media:hover, .favorite-entry.media:hover {
    background-color: #eef; }
  .search-result.media .thumbnail, .favorite-entry.media .thumbnail {
    width: 100px; }
  .search-result.media .content p, .favorite-entry.media .content p {
    margin-bottom: 0.4em;
    line-height: 1.2em; }
    .search-result.media .content p.comic-update-info, .favorite-entry.media .content p.comic-update-info {
      font-size: 0.9em;
      color: #888; }
  .search-result.media .subscribe-btn, .favorite-entry.media .subscribe-btn {
    font-size: 1.4em;
    color: #aaa; }
    .search-result.media .subscribe-btn:hover, .favorite-entry.media .subscribe-btn:hover {
      color: #558; }
    .search-result.media .subscribe-btn.subscribed, .favorite-entry.media .subscribe-btn.subscribed {
      color: #a00; }
      .search-result.media .subscribe-btn.subscribed:hover, .favorite-entry.media .subscribe-btn.subscribed:hover {
        color: #d55; }

#favorite-view {
  padding: 2em 0; }
  @media only screen and (max-width: 768px) {
    #favorite-view {
      padding: 0.5em 0; } }
  #favorite-view .columns {
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto; }
    @media only screen and (min-width: 769px) {
      #favorite-view .columns {
        width: 647px; } }
    @media only screen and (min-width: 1192px) {
      #favorite-view .columns {
        width: 970.5px; } }
    @media only screen and (min-width: 1344px) {
      #favorite-view .columns {
        width: 1294px; } }

.favorite-entry.media {
  border: 2px solid #fff; }
  @media only screen and (min-width: 769px) {
    .favorite-entry.media {
      width: 323.5px; } }
